.bicicletas-bg {
  background-color: var(--cor-11);
}

.bicicletas-title {
  padding: 60px 0;
}

.bicicletas-title h1 {
    color: #fff;
}

.bicicletas-title h2 {
    text-transform: uppercase;
    color: var(--cor-5);
}
