.bicicleta-principal,
.bicicleta-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bicicleta-lista {
  grid-column: 1;
  gap: 20px;
}

.bicicleta-lista li:first-child {
  grid-column: 1 / -1;
}
