.bg-0 {
  background: var(--cor-0);
}

.bg-11 {
  background: var(--cor-11);
}

.bg-12 {
  background: var(--cor-12);
}

.btn {
  display: block;
  background: linear-gradient(#ffbf00, #f2a50c);
  color: var(--cor-p5);
  text-transform: uppercase;
  border-radius: 4px;
  padding: 1rem 2rem;
  max-width: max-content;
  font-weight: bolder;
  height: max-content;
  cursor: pointer;
  white-space: nowrap;
  border: none;
}

.btn:hover,
.seta:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.detalhe {
  color: var(--cor-p1);
}

.secundario {
  display: inline-block;
  background: var(--cor-10);
  color: var(--cor-0);
}

.secundario:hover {
  background: var(--cor-9);
}

.seta {
  position: relative;
  padding: 1.2rem 4rem 1.2rem 2.5rem;
}

.seta::after {
  position: absolute;
  content: url(../../img/icones/seta.svg);
  right: 30px;
  transition: 0.2s ease-in;
}

.seta:hover::after {
  right: 25px;
}

@media (max-width: 600px) {
  .btn {
    padding: 0.9rem 1.4rem;
  }

  .seta {
    padding: 0.9rem 3.2rem 0.9rem 1.8rem;
  }

  .seta::after {
    right: 25px;
  }
}
