.btn {
    display: block;
    background: linear-gradient(#ffbf00, #f2a50c);
    color: var(--cor-p5);
    text-transform: uppercase;
    border-radius: 4px;
    padding: 1rem 2rem;
    max-width: max-content;
}

.btn:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

.detalhe {
    color: var(--cor-p1);
}