.header-bg {
  background: var(--cor-12);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.header-container img {
  margin-right: 40px;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-nav li + li {
  margin-left: 40px;
}

.header-nav a {
  display: block;
  color: var(--cor-0);
  padding: 1rem 0;
  margin: 4px 0;
}

.header-nav a.ativo {
    color: var(--cor-p2);
}

.header-nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--cor-0);
  transition: 0.2s ease;
}

.header-nav a:hover::after,
.header-nav a.ativo::after {
  width: 100%;
}

.header-nav a.ativo::after {
    background: var(--cor-p2);
}

@media (max-width: 800px) {
  .header-container {
    padding: 20px;
  }

  .header-nav li + li {
    margin-left: 20px;
  }

  .header-nav a {
    padding: 0.75rem 1rem;
    background: var(--cor-11);
    border-radius: 4px;
  }

  .header-nav a:hover::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-nav li + li {
    margin-left: 10px;
  }

  .header-nav a {
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
  }
}

@media (max-width: 500px) {
  .header-container {
    justify-content: center;
  }
  .header-nav a {
    margin-top: 20px;
  }
}
