.bicicletas-lista {
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 20px 140px;
}

.bicicletas-lista h1 {
    padding-left: 100px;
    padding-bottom: 40px;
}

.bicicletas-lista ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.bicicleta-item h2 {
    padding: 1rem 0 .625rem 1.3rem;
    position: relative;
    transition: 0.2s ease;
}

.bicicleta-item h2::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 8px;
    position: absolute;
    background: var(--cor-p1);
    left: 0;
    top: 32px;
    transition: 0.2s ease;
}

.bicicleta-item h2:hover::before {
    width: 25px;
}

.bicicleta-item h2:hover {
    padding-left: 1.925rem;
}