.introducao-bg {
    background: var(--cor-12);
    box-shadow: inset 0 -120px var(--cor-0);
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    color: var(--cor-0);
}

.introducao-texto {
    align-self: end;
    padding-bottom: 200px;
}

.introducao-texto h1 {
    margin-bottom: 32px;
}

.introducao-texto p {
   color: var(--cor-5);
   margin-bottom: 20px;
}

.introducao img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media  (max-width: 800px) {
    .introducao-bg {
        background: var(--cor-11);
        box-shadow: inset 0 -60px var(--cor-0);
        padding-top: 40px;
    }

    .introducao {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introducao img {
        height: 300px;
        width: 100%;
    }

    .introducao-texto {
        padding-bottom: 0;
    }
}