.perguntas dl {
  padding: 60px 0 136px;
}

.perguntas-lista {
  padding: 20px 0 20px 40px;
  border-radius: 4px;
}

.perguntas-lista:nth-child(odd) {
    background: rgba(204, 204, 204, 0.201);
}

.perguntas-lista dt {
  position: relative;
  cursor: pointer;
}

.perguntas-lista dt::before {
  position: absolute;
  content: " ";
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  left: -20px;
  top: 7px;
}

.perguntas-lista dt::after {
  position: absolute;
  content: url(../../img/icones/seta-abrir.svg);
  right: 20px;
  top: -5px;
  transition: .3s;
}

.perguntas-lista dt:hover::after {
  transform: rotate(180deg);
  top: 3px;
}

.perguntas-lista dd {
  padding-top: 20px;
  max-width: 720px;
}

@media (max-width: 600px) {
    .perguntas-lista {
        padding: 30px;
      }

      .perguntas-lista dt::after {
        right: -18px;
    top: -4px;
      }
  }
