.orcamento-form {
  color: var(--cor-0);
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 20px;
}

.orcamento-subtitle {
  grid-column: 1 / -1;
  color: var(--cor-5);
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form .orcamento-subtitle {
  margin-bottom: 0;
  color: var(--cor-9);
}

.orcamento-subtitle::before {
  content: "";
  width: 4px;
  height: 8px;
  left: -10px;
  background-color: var(--cor-p1);
  position: absolute;
}

.orcamento-form input {
  max-width: 12px;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.orcamento-form input:checked + label,
.orcamento-form input:checked + label span {
  background-color: var(--cor-0);
  color: var(--cor-9);
  opacity: 1;
}

.orcamento-form label {
  display: flex;
  align-items: center;
  font: 400 1rem/1.5 "Poppins", sans-serif;
  color: var(--cor-5);
  background-color: var(--cor-10);
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--cor-10);
}

.orcamento-form label:hover {
  background-color: var(--cor-9);
  border-color: var(--cor-9);
}

.orcamento-form input:focus + label {
  box-shadow:  0 0 0 2px var(--cor-p1);
  border-color: var(--cor-12);
}

.orcamento-form label span {
  font: 500 1rem/1.5 "Poppins", sans-serif;
  opacity: 0;
  margin-left: auto;
}

.orcamento-form label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--cor-6);
  border-radius: 50%;
  margin-right: 8px;
}

.orcamento-form input:checked + label:before {
  box-shadow: inset 0 0 0 3px var(--cor-0), inset 0 0 0 6px var(--cor-7);
}

.orcamento-bikcraft,
.orcamento-seguro {
  display: none;
}

#bikcraft:checked ~ .orcamento-bikcraft,
#seguro:checked ~ .orcamento-seguro {
  display: block;
}

.orcamento-bicicleta {
  display: none;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-0);
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.orcamento-bicicleta li {
  display: flex;
  align-items: center;
}

.orcamento-bicicleta li + li {
  margin-top: 8px;
}

.orcamento-bicicleta ul li img {
  width: 16px;
  margin-right: 8px;
}

#nimbus:checked + label + .orcamento-bicicleta,
#magic:checked + label + .orcamento-bicicleta,
#nebula:checked + label + .orcamento-bicicleta {
  display: grid;
}
