.orcamento-subtitle {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .orcamento-subtitle::before {
    position: absolute;
    content: " ";
    width: 5px;
    height: 7px;
    background: var(--cor-p1);
    top: 4px;
    left: -12px;
  }
  

.orcamento-form {
    color: var(--cor-5);
    padding: 40px;
}

.orcamento-boxSelecao {
    display: flex;
    gap: 10px;
}

.orcamento-selecao {
    display: flex;
    background: var(--cor-11);
    padding: 0 15px;
    align-items: center;
    width: 100%;
    border-radius: 4px;
}

.orcamento-selecao input[type='radio']{
    width: 12px;
}
